/* .app-tv-chart-container {
	height: calc(100vh - 150px);
} */

/* .tvchart-tab{
    width:455px;
    height:364px;
    left: 100px;
    border:1px solid #000 ;
    bottom: 100px;
    background-color: rgb(71, 63, 63);
    border:1px solid rgb(155, 158, 158) ;
    padding-left: 5px;
    padding-right: 5px;
} */
.tvchart-body{
  /* width:455px; */
  height:364px;
  /* left: 100px;
  border:1px solid #000 ;
  bottom: 100px;
  background-color: rgb(71, 63, 63);
  border:1px solid rgb(155, 158, 158) ;
  padding-left: 5px;
  padding-right: 5px; */
}
.header-dw,.tvchart-body{
  width: 100%;
  /* position: absolute; */
  left: 1px;
  /* background-color: rgb(0, 0, 0); */
  text-align: center;
  /* height: 19px; */
  font-size: 13px;
  color: rgb(182, 181, 181);
  /* border:1px solid rgb(155, 158, 158) ; */

}
#paneltv, #fliptv {
  /* width: 100%; */
  padding: 5px;
  text-align: center;
 
  border:1px solid rgb(115, 113, 117) ;
  /* width:455px;
   */
}
#fliptv{
  background-color: rgb(0, 0, 0);
  border-top:1px solid grey;
 border-left:1px solid grey;
 border-left:1px solid grey;
 color: rgb(182, 181, 181);
 text-align: center;
  font-size: 13px;
}
#paneltv {
  background-color: rgb(19,23,34);
  /* padding: 50px; */
  height:379px;
  /* display: none; */
}
  
button.close {
 
  position: sticky;
  z-index: 1;
  left: 681px;
  margin-top: -6px;
}
.ng-draggable {
    cursor: grab;
  }
   
  .ng-dragging {
    cursor: grabbing;
  }
  .mintv {
    position: absolute;
    left: 414px;
    z-index: 1;
    top: 8px;
}
.mintv.btn-plus {
  z-index: 1;
  top: 10px;
  cursor: pointer;
  height: 16px;
  margin-left: -301px;
  background-color: rgb(240, 241, 240);

}
.top-sp select {
    word-wrap: normal;
    width: 120px;
    height: 25px;
    background-color: #110d0d;
    border:2px solid rgb(114, 113, 116) ;
    padding-left: 5px;
    /* padding-right: 5px; */
    margin-right: 5PX;
    font-size: 3px;
    
    /* font-size: 36px; */}
.top-sp{
  margin-top: -4px !important;
  margin-left: -17px;

}
.app-tv-chart-container{
    /* height: calc(100vh - 185px); */
}
/* .app-tv-chart-container[_ngcontent-ahc-c74] {
  height: 340px;
  width: 521px;
} */
/* .app-tv-chart-container{height:340px;width:521px;position:fixed;} */
.app-tv-chart-container{height:92%;width:100%;position:fixed;}
:root:not(.theme-dark) {
  --tv-color-platform-background: #d1c4e9;
  --tv-color-pane-background: rgb(251, 223, 244);
  --tv-color-pane-background-secondary: rgb(249, 185, 233);
  --tv-color-toolbar-button-background-hover: rgb(244, 143, 177);
  --tv-color-toolbar-button-background-secondary-hover: red;
  --tv-color-toolbar-button-background-expanded: rgb(244, 143, 177);
  --tv-color-toolbar-button-text: rgb(136, 24, 79);
  --tv-color-toolbar-button-text-hover: rgb(74, 20, 140);
  --tv-color-toolbar-button-text-active: red;
  --tv-color-toolbar-button-text-active-hover: red;
  --tv-color-item-active-text: rgb(6, 6, 255);
  --tv-color-toolbar-toggle-button-background-active: red;
  --tv-color-toolbar-toggle-button-background-active-hover: magenta;
}

.theme-dark:root {
  --tv-color-platform-background: #d1c4e9;
  --tv-color-pane-background: rgb(251, 223, 244);
  --tv-color-pane-background-secondary: rgb(249, 185, 233);
  --tv-color-toolbar-button-background-hover: rgb(244, 143, 177);
  --tv-color-toolbar-button-background-secondary-hover: red;
  --tv-color-toolbar-button-background-expanded: rgb(244, 143, 177);
  --tv-color-toolbar-button-text: rgb(136, 24, 79);
  --tv-color-toolbar-button-text-hover: rgb(74, 20, 140);
  --tv-color-toolbar-button-text-active: red;
  --tv-color-toolbar-button-text-active-hover: red;
  --tv-color-item-active-text: rgb(6, 255, 6);
  --tv-color-toolbar-toggle-button-background-active: red;
  --tv-color-toolbar-toggle-button-background-active-hover: magenta;
}
