<app-navbar></app-navbar>
<app-sidenav></app-sidenav>
<div class="container">
    <div class="container-fluid">
        <div class=" row mid-part top-title">
            ACCOUNT INFORMATION
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="image-up">
                    <img  class="img-prop" src="../../assets//img/uploadImage.png" height="20px" width="20px">
                </div>

                <!-- Uplodphoto -->
            </div>
            <div class="col-md-3">
                <div class="head-text">
                    Available Balance<i class="fa fa-info ml-1"
                        style="background-color: rgb(134, 250, 134);width: 17px;text-align: center;"
                        aria-hidden="true"></i>
                </div>

            </div>
            <div class="col-md-3">
                <div class="head-text">
                    Accounting Balance<i class="fa fa-info ml-1"
                        style="background-color: rgb(134, 250, 134);width: 17px;text-align: center;"
                        aria-hidden="true"></i>

                </div>
            </div>
        </div>
        <div class="row mid-part">

            <div class="col-md-6">
                <label class="head-text">First Name</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-6">
                <label class="head-text">First Name</label>
                <input type="text" class="form-control">
            </div>

        </div>
        <div class="row mid-part">

            <div class="col-md-6">
                <label class="head-text">Email</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-md-6">
                <label class="head-text">Peferred Language</label>
                <select class="form-control">
                    <option>English</option>
                    <option>Hindi</option>
                </select>
            </div>

        </div>

        <div class="row mid-part box-panel">
            <div class="col-md-12">
                <label class="head-text">I am</label>
            </div>
           
        </div>
        <div class="row mid-part box-panel">
            <!-- <label class="head-text">I am</label> -->
            <div class="col-md-4">
                <label class="head-text">Seller</label>
                <input type="radio" class="">
            </div>

            <div class="col-md-4">
                <label class="head-text">Buyer</label>
                <input type="radio" class="">
            </div>
            <div class="col-md-4">
                <label class="head-text">Both</label>
                <input type="radio" class="">
            </div>
        </div>
        <div class="row mid-part box-panel-up">
            <div class="col-md-12">
                <label class="head-text">Preffered Product(s)</label>
            </div>
           
        </div>
        <div class="row mid-part ">
            <div class="col-md-4">
                <label class="head-text">Seller</label>
                <input type="checkbox" class="">
            </div>

            <div class="col-md-4">
                <label class="head-text">Buyer</label>
                <input type="checkbox" class="">
            </div>
            <div class="col-md-4">
                <label class="head-text">Both</label>
                <input type="checkbox" class="">
            </div>
        </div>
        <div class="row mid-part ">
            <div class="col-md-4">
                <label class="head-text">Seller</label>
                <input type="checkbox" class="">
            </div>

            <div class="col-md-4">
                <label class="head-text">Buyer</label>
                <input type="checkbox" class="">
            </div>
            <div class="col-md-4">
                <label class="head-text">Both</label>
                <input type="checkbox" class="">
            </div>
        </div>
        <div class="row mid-part ">
            <div class="col-md-4">
                <label class="head-text">Seller</label>
                <input type="checkbox" class="">
            </div>

            <div class="col-md-4">
                <label class="head-text">Buyer</label>
                <input type="checkbox" class="">
            </div>
            <div class="col-md-4">
                <label class="head-text">Both</label>
                <input type="checkbox" class="">
            </div>
        </div>
    </div>