.image-up{
    border: 1px solid #cec0c0;
    width: 198px;
    height: 164px;
    background-color: #f1ebeb;
    margin-left: 227px;
    /* background:url(../../assets/img/uploadImage.png); */
}
.head-text{
    font-size: 13px;
    margin:5px;
    font-weight: bold;
}
.mid-part{
    margin-left: 212px;
    margin-top: 30px;

}
.box-panel-down{
   border-bottom:1px solid rgb(192, 190, 190); 


}
.box-panel-up{
    border-top:1px solid rgb(192, 190, 190); 
 
 
 }
 .top-title{
     font-family: 'Courier New', Courier, monospace;
     font-size: 30px;
     font-weight: bold;
     margin-bottom: 14px;

 }
 .img-prop{
    vertical-align: middle;
    border-style: none;
    /* margin: 82px; */
    margin-top: 54px;
    margin-left: 81px;
    width: 40px;
    height: 40px;
 }