.pay-div{
    width: 142px;
    height: 182px;
    background-color: rgb(214, 205, 205);
    flex: 1;
    border: 1px solid #524f4f;
}
.pay-top{
    background: #0057e7;
    color: #fff;
    font-size: 13px;
    padding: 5px 10px;
    text-align: center;
}
.pay_bod {
    background: rgb(214, 205, 205);
  
    border-top: 0;
    padding: 16px;
    padding-left: 27px;
   

}
.sp-btn{
    height: 24px;
}
.priceweight{
    font-weight: bold;

}
.text-space{
    margin-left: 46px;
    margin-top: 10px;
    font-weight: bold;
}
.shadow-box{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px rgb(99, 92, 209);
    margin-bottom: 10px;
  
}
.btn-margin{
    margin-right: 20px;
}
.rmv-btn{
    margin-left: 689px;
    width: 180px;

    /* margin-top: 30px; */

}