
 <div  style="width: 150px;margin-top: -24px;margin-left: 6px;" >
  <button type="submit" class="btn btn-primary btn-block" style="margin-left: 90px"> <a  class="text-white" href="http://institutional.paybito.com/accounts/" target="_blank">SIGN IN</a>
    
  </button>
  <!-- <button class="close modal_close" id="btn-classic" type="button" mat-button (click)="onNoClick()">
    <mat-icon>close</mat-icon>
  </button> -->
  <div class="btn-classic">
    <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon" (click)="onNoClick()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  

</div>

   <!-- <h5>Get Access to the trade account</h5> -->
   <!-- <div class="login-box"></div> -->
   <div style="margin-top: 100px;">
  <div class="row">
    
      <form name="login_form"  #f="ngForm" (ngSubmit)="f.valid && loginData(true)">
        <!-- <span class="text-center" style="color: #f94e26;"></span> -->
    
        <div class="row">
     
            <!-- <div class="col-md-6">
              <label>Login Id: </label>
            </div> -->
            <div class="col-md-12" style="margin-left:60px;margin-bottom: 45px;">
              <input class="form-control" name="email" id="email" required style="width: 100%;height:37px" type="email" [(ngModel)]="email" placeholder="Email" autofocus>
            </div>
      
          </div>     

          <div class="row">
           
            <div class="col-md-12" style="margin-left: 60px;margin-bottom: 45px;">
              <input class="form-control" name="password" required type="password" style="width: 100%;height:37px" [(ngModel)]="password" autocomplete placeholder="Password">
            </div>
          </div>
      
          <div class="form-group otp_segment" *ngIf="otpBlock">
            <!-- <label for="loginInputOTP">OTP</label> -->
            <input class="form-control" id="loginInputOTP" name="otp" style="margin-left: 60px;height:31px" type="number" [(ngModel)]="otp" placeholder="OTP" autofocus autocomplete="off" >
            <small class="text-white" style="margin-left: 60px">*Input otp from your google authenticator</small>
            <!-- <a href="javascript:void(0)" class="float-right" data-ng-click="resendOtp()">Resend OTP</a>-->
            </div>

        <button type="submit"  class="btn btn-primary btn-block"  ng-dblclick="return false" style="margin-left: 60px" *ngIf="!otpBlock">
          LOG IN
        </button>
        <button type="submit" class="btn btn-primary btn-block otp_btn"  style="margin-left: 60px" (click)="loginThroughOtp()" *ngIf="otpBlock">Submit</button>
        <p *ngIf="loader" class="text-center" style="margin-left:110px;margin-top:15px">
          <!-- <ngb-progressbar type="info" [value]="100" [striped]="true" [animated]="true"></ngb-progressbar> -->
          <img src="./assets/svg-loaders/three-dots.svg" alt="" width="50">
      </p>
        <p [hidden]="!error" class="text-danger text-center my-3 text-white" style="width:190px;margin-left:115px;padding:0;height:10px;font-size:12px">{{errormessage}}</p>
                <div id="unverifiesusermsgd" style="display: none; color: white;">
                    <div style='display: flex;justify-content: space-between;align-items: center;'><p class="text-white">Resend device verification mail</p>
                         &nbsp; &nbsp; <button id='verifyuser' class='btn btn-success' (click)="resend()">RESEND</button>
                    </div>
                </div>
        <!-- <button type="button"  class="btn btn-primary btn-block" style="margin-left: 60px">
          CANCEL
        </button> -->
        <div id="countermsg" style="display: none;color:rgb(233, 224, 233);"></div>
        <div class="d-flex mt-2 forgot-pswd">
        <div class="p-1 mr-auto" style="margin-left:120px;margin-top: 20px;"><a routerLink="/stoken"  (click)="onNoClick()">Forgot Password?</a><br><span class="text-white" style="font-size: 11px;">Not on Paybito yet?</span> <a href="http://institutional.paybito.com/accounts?BokerId=1" target="_blank">Register</a></div>
        </div>
          </form>
    
</div>
</div>
<div mat-dialog-actions>
  <!-- <button type="button" class="close" aria-label="Close" (click)="onNoClick()">
    <span aria-hidden="true">&times;</span>
  </button> -->
 </div>