/* .example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  .btn-position{
    position: absolute;
   
    right: 1px;  
  }
  .input-ln{
    width: 300px;
  }
 
 
  .login-box {
    height: 120px;
    width: 60px;
    border: 1px solid;
}

button.close-login {
  position: absolute;
  
  left: 899px;
  top: 54px;
} */
.header-sp{
 margin-right:-94px;
 color: rgb(117, 111, 111); 
 font-family: 'Times New Roman', Times, serif;
 font-size: 15px;
 margin-top: -4px;
}
.header-sp1{
  margin-right:-69px;
  color: rgb(117, 111, 111); 
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  margin-top: -4px;
 }
::ng-deep .mat-dialog-container {
  /* height: 485px !important; */
  width: 400px !important;
  margin-top: 100px !important;
  border-radius: 20px;
  background-color: rgb(46, 48, 48);
  background-image:url('../../assets/img/background3.jpg')
 
}
::ng-deep .btn-classic{
  margin-left: 326px;
  margin-top: -40px;
  color: aliceblue;
}
.user-img{
  left: 529px;
  margin-top: -7px;
 
}
.user-img img{
  border-radius: 60px;
  border: 2px solid white;
}
/* scroll animation */
.ticker-data li{
 display: inline; 
 margin-left: 5px;
 margin-right: 10px;
 }
 .name-sp{
  width: 97px;
  text-align: center;

}
.btn-outline-primary{
  height: 24px;
  font-size: 13px;
  margin-left: 25px;
  text-align: center;
  padding-top: 2px;
  background-color: #3e4241;height: 24px;
  

}
.text-danger {
width: 194px;
  margin-left: 110px;
  padding: 0;
  height: 10px;
  font-size: 12px;
}


/* #user-tb  */
/* hover menu */
/* .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;} */
/*  */
/* .dropdown-content {
  margin-top: 31px;
  position: absolute;
  margin-left: -27px;
  background-color: #f1f1f1;
 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  display: none;
} */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 12px;
  border: none;
  margin-bottom: 5px;
  border-radius: 20px;
  background-image:url('../../assets/img/default.png')
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #242222;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: -80px;
}

.dropdown-content a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: rgb(97, 93, 93);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.nav-pos{
  margin-top: 154px;
}
