<app-navbar></app-navbar>

<div class="container" style="color: cadetblue;">
  <div class="row">

    <div class="col-md-12">
      <div class="card upper-space">
        <div class="card-header max-card">
          <h5 class="p-3 mb-0" style="color: #86bbb8;font-size: 18px;font-weight: lighter;text-align: center"> LOGIN
          </h5>
        </div>
        <div class="row card-body left-sp">
          <div class="left-box">
            <div class="">

              <input class="inp" placeholder="User/Login Id " />
            </div>
            <div class="">
              <input class="inp" placeholder="Password" />
            </div>
            <div class="">
              <input class="inp" placeholder="DOB(DDMMYYYY)/Pan Card" />
            </div>
            <div class="top-sp">
              <button type="submit" class="btn btn-primary btn-dg">
                Login
              </button>
            </div>
            
          </div>


          <div class="txtline-right-top" style="background-color:#defbf8;">
          
            <p class="text-one" >Sign-in / Sign Up Help</p>
            <p class="text-two" ><a routerLink="/Signup" routerLinkActive="active" >Signup</a></p>
            <p class="text-two">Unlock Account</p>
            <p class="text-two">Forgot Login ID </p>
            <p class="text-two">Forgot Password </p>
            <p class="text-two">Password Policy </p>
            <p  class="text-one">Some More Information</p>
            <p class="text-two">Brokerage </p>
            <!-- <p class="text-two">Password Policy </p> -->
          </div>
          <!-- <div class="txtline-right-bottom" style="background-color: red;"></div> -->
        </div>
       
        <br>

        <!-- <button type="submit" class="btn btn-primary btn-dg">
          Signup
        </button> -->
        <!-- <div class="card-footer">

      </div> -->
      </div>
    </div>


  </div>
  <div>

  </div>

</div>

