<div class="container">
    <div class="container-fluid">
    
      <div>
        <div class="row">
          <div class="col-md-8 box-one img-pos">
            <app-navbar></app-navbar>
            <img src="../../assets/img/STOCK_MARKET-4.jpg" alt="Trulli" width="800" height="800">
    
          </div>
          <div class="col-md-4 box-two">
            <span class="header-txt">Confirm OTP</span>
           
            <h5 class="field-message">Sent to +91-{{tempMobile}}(<a routerLink="/Signup" routerLinkActive="active">change</a>)</h5>
            <form name="signup-otp">
              <div class="eight columns">
                <!-- <span class="mobile-prefix">+91</span> -->
                <label class="lbl-txt">Mobile OTP </label>
                <input type="text" class="form-box" pattern="[0-9]{5,5}" maxlength="5" id="SentOtp"  [(ngModel)]="SentOtp"  name="b" #b="ngModel"  placeholder="Enter OTP" required>
                <!-- <input type="textbox" id="phone" pattern="[0-9]{10,10}" class="form-control" [(ngModel)]="phone" placeholder="Your 10 digit mobile number"
                name="b" #b="ngModel"  aria-describedby="basic-addon3"> -->
              </div>
              <small *ngIf="b.dirty&&b.invalid" class="text-danger">Enter a valid otp.</small>
              <small *ngIf="errormessage" class="text-danger">{{errormessage}}</small>
              <p class="field-message">Didn't receive OTP? Resend via <a href="#">SMS/whatsapp</a></p>
              <p></p>
              <div>
                <button type="submit" class="btn btn-primary btn-one-dg" (click)="verifyOtp()">
                  Continue
                </button>
              </div>
      
            </form>
           
    
          </div>
          <div>
    
          </div>
        </div>
    
    
      </div>
    </div>
   
  </div>