<div class="bitrump-body"> 
  <div class="container">
      <div class="card card-login mx-auto mt-3">
          <div class="card-header text-center text-blue bg-pbgreen bitrump-logo">
              <img src="../../assets/img/logo-paybito.png" alt="">
              <!-- <span><i class="fa fa-btc"></i></span>itrump -->
              <h5 class="bittrmp-hedr">Please check that you are visiting <a href="http://institutional.paybito.com/" target="_blank">http://institutional.paybito.com/</a></h5>
          </div>
              <div class="card-header text-center text-blue p-0">
              <!-- <h5 class="p-3 mb-0" style="color: #86bbb8;font-size: 18px;font-weight: lighter;"><span class="bitrump-pro">{{data.exchange}} Forgot-Password</span></h5> -->
              </div>

      <!-- new -->
      <div class="card-body p-3 card-login-body">
          <form name="form" #f="ngForm" (ngSubmit)="f.valid && forgotPassword(true)">
      <!-- <form name="login_form" data-ng-controller="formCtrl" id="login_form" data-ng-submit="forgotPassword(login_form.$valid)" novalidate> -->
          <div class="form-group">
          <label for="signupInputEmail">Email</label><span class="required">*</span>
          <input class="form-control validate" [class.is-invalid]="email.dirty && email.invalid" name="email"
          id="signupInputEmail" [(ngModel)]="forgetpwdObj.email" placeholder="{{forgetpwdObj.email}}"
          appForbiddenName="bob" required #email="ngModel"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
          <span class="text-danger" *ngIf="email.dirty && email.invalid">Enter a valid email</span>
          </div>
          <div class="form-group">
          <label for="signupInputPassword">New Password</label><span class="required">*</span>
          <input class="form-control validate" name="password" id="signupInputPassword" name='password'
          [(ngModel)]="forgetpwdObj.password" type="password" placeholder="" (blur)="checkPassword()"
          (keyup)="confirmPassword($event)" required
          pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$!@#.])[a-zA-Z0-9$!@.#]{8,35}$" #password="ngModel"
          [class.is-invalid]="password.invalid&&password.dirty">
          <span class="text-danger" *ngIf="password.dirty&&password.invalid">
          The password should be of minimum 8 characters and must contain at least one uppercase, one lowercase, number and a special character($@#.!).
          </span>
          <!-- <input class="form-control" id="forgotpasswordInputNewPassword" [(ngModel)]="password" type="password" placeholder="Type New Password" required pattern="(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,20}" #pass="ngModel" [class.is-invalid]="pass.invalid&&pass.dirty"> -->
          <!-- <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
              Password is required
      </div> -->
          </div>
          <div class="form-group">
          <label for="signupInputRetypePassword">Retype New Password</label><span class="required">*</span>
          <!-- <input class="form-control" id="forgotpasswordInputRetypeNewPassword" [(ngModel)]="repassword" type="password" placeholder="Retype New Password" data-ng-keyup="confirmPassword()" required pattern="(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,20}" #pass2="ngModel" [class.is-invalid]="pass2.invalid&&pass2.dirty&&password!=repassword" >
          <span class="confirm_password_text"></span> -->
          <input class="form-control validate" name="repassword1" id="signupInputRetypePassword" type="password"
          placeholder="" [(ngModel)]="forgetpwdObj.repassword1" (keyup)="confirmPassword($event)" required
          pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$!@#.])[a-zA-Z0-9$!@.#]{8,35}$" #repassword1="ngModel"
          [class.is-invalid]="repassword1.invalid&&repassword1.dirty">
          <span class="confirm_password_text"></span>
          </div>
          <div class="form-group">
          <label for="forgotpasswordInputSecureToken">Secure Token</label><span class="required">*</span>
          <input class="form-control" id="forgotpasswordInputSecureToken" [(ngModel)]="forgetpwdObj.secureToken" name="secure_token" type="password" placeholder="Secure Token" #secure_token="ngModel" required>
          </div>
          <button style="background-color:blue !important;" class="btn btn-primary btn-block submit_btn" >Change Password</button>
      <!-- </form> -->
      </form>
      <div class="col-12 mt-3 text-center forgot-pswd"><a routerLink="/">Create an Account</a></div>
      </div>
      <!-- new -->
      </div>
  </div>
</div>  
