/* .right-tab{
    left: 361px !important;
    position: absolute;
   
    top: 37px;
}
.anouncement-tab{
    left: 816px;
    position: absolute;
    top: 400px;

}
.order-tab{
    left: 1070px !important;
    position: absolute;
    top: 39px;
}
.chart-tab{
    left: 361px !important;
    position: absolute;
    top: 484px;
    width:456px;
} */
/* .container-fluid{
    width: 100%;
    padding: 0;
    margin: 0;

}
.left-container_fluid{
    padding-left:1px;
    padding-right:1px;
    background-color: rgb(19,23,34);
} */
.demo-sor{
    margin:1px;
    padding:1px;
}
.fast-tab{

   
    padding:0px;
    margin-top: 36px;
   
}
.second-sp{
    
    margin: 0;
    padding-left: 3px;
    margin-top: 36px;
}
.ticker-tab{


margin:1px;

padding:1px;

}
.sortcut-tab{


margin:1px;

padding:1px;

}
.chart-tab{
    margin:1px;

    padding:1px;

}
/* table, tr, td {
    margin: 0;
    padding: 0;
} */
#navbar{
    /* margin: 0;padding: 0;
    width: 100%;
    height: 50px; */
    /* background-color: rgb(17, 68, 102); */
    /* margin: 2px; */
    padding: 0;
    width: 100%;
    height: 36px;
}
#left-tab{
    float: left;
    margin: 0;
    padding: 2px;
    height: 100%;
    width: 25%;
    /* background-color: blanchedalmond; */
    /* border-right: 5px solid #000000; */
}
.wl{
    float: left;
    margin-left: 2px;
    padding: 2px;
    height:60%;
    width: 64%;
   margin-bottom: 2px;
    /* background-color: blanchedalmond; */
    /* border: 5px solid #000000; */
}
.wl.plus{
    margin-top:40%;
    height:10px;
    width: 20px;
}
.ticker{
    float: left;
    margin-left: 2px;
    padding: 2px;
    height: 60%;
    width: 10%;
    margin-bottom: 2px;
  
    /* background-color: blanchedalmond; */
    /* border: 5px solid #000000; */
}
.charts{
    float: left;
    margin-left: 2px;
    padding: 2px;
    height:50%;
    width: 36%;
    margin-top:4px;
    /* background-color: blanchedalmond; */
    /* border: 5px solid #000000; */
}
.charts.but-plus{
 position: -webkit-sticky;
 position: sticky;
 top:0 ;
margin-top: 120px;

}
.demosor{
    float: left;
    margin-left: 2px;
    padding: 2px;
    height:50%;
    width: 38%;
    margin-top:4px;
}
.demosor.plusbtn{
   
  margin-left: 25%;
  position: absolute;
 width: 74%;
 height: 100%;
 /* float: left;
    margin-left: 2px;
    padding: 2px;
    height:60%;
    width: 64%;
   margin-bottom: 2px; */

}
.demosor.minusbtn{
    /* position: -webkit-sticky;
 position: sticky; */
 position: -webkit-sticky;
 position: sticky;
 top:0 ;
 left:60%;
margin-top: 120px;
}
.announcement{
    left: 816px;
    position: absolute;
    top: 400px;
}
/* --------------- */
    
    /* Set gray background color and 100% height */
    
    
    /* Set black background color, white text and some padding */
    /* footer {
      background-color: #555;
      color: white;
      padding: 15px;
    } */
    
    /* On small screens, set height to 'auto' for sidenav and grid */
   .fill2{
    width: 100%;
    height:100%;
   }
   .fill5 {
    width: 495px;

}

#shortcut-box{
    padding-left: 3px;
}
