/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
/* html, body { height: 100%; } */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle {
    background-color: #213636;
    border-color: #324b4b;
 } */
 .btn{padding: .275rem .75rem;color:white;}
  .btn-green{background:#00b75a !important;}
  .btn-red{background:#cc2d3d !important;}
  .btn-green.focus,.btn-green:focus,.btn-green.active,.btn-green:active,.btn-green:hover{outline:0;-webkit-box-shadow:0 0 0 .2rem rgba(34, 37, 41, 0.25);box-shadow:0 0 0 .2rem rgba(34, 37, 41, 0.25);background:#008a44;}
  .btn-red.focus,.btn-red:focus,.btn-red.active,.btn-red:active,.btn-red:hover{outline:0;-webkit-box-shadow:0 0 0 .2rem rgba(0,123,255,.25);box-shadow:0 0 0 .2rem rgba(0,123,255,.25);background:#b51020;}
  .btn-dark:not(:disabled):not(.disabled).active, .btn-dark:not(:disabled):not(.disabled):active, .show>.btn-dark.dropdown-toggle{
      color: #fff;
      background: #213636;
        border-color: #294141;
  }
  .btn-dark {
      color: #fff;
      background: #213636;
        border-color: #294141;
  }
  body {
  
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    /* background-color: rgba(0,0,0,.03); */
    /* border-bottom: 1px solid rgba(0,0,0,.125); */
  
  }
  
  /* a {
    color: #00B7FF;
  } */
  .img-pos{
    padding-left: 296px;
    position: relative;
    width:100%;
  }
  .max-card{
    background-color: white !important;
  }
  h2{
    
    position: absolute; 
    top: 200px; 
    left:400px; 
    width: 100%; 
    color: aliceblue;
    font-size: 100px;
  
  }
  .txtabout{
    font-size: 30px;
    padding-left: 350px;
    
  }
  
  
  .uname{
    height:25px;
    
    border-radius:20px;}
  .txtaline{
    text-align: center;
    width: 329px;
  
  }
  .txtline-right-top{
    text-align: center;
    width: 329px;
  }
  .txtline-right-bottom{
    text-align: center;
    width: 329px;
    margin-top: 2px;
    float:right;
  }
  .box-one{
    /* background-color: grey; */
    height: 600px;
    margin: 0;
    padding: 0;
  
    
    
    }
    .box-two{
        /* background-color: red; */
          /* background-color: red; */
          height: 600px;
          text-align: left;
          /* right: 78px; */
          left: 118px;
          /* margin-top: 9px; */
          padding-top: 11px;
          border-left:1px solid rgb(196, 221, 228);
          background-color: white;
          
    
    }
    .header-box{
  height: 100px;
    }
  
    .header-txt{
      font-size: 23px;
      font-weight: bold;
      color:#fc7d07a2;
    }
    /* login2 */
    .img-base{
  /* background-image:url('../images/background.jpg'); */
    }
    .text-wrap {
      width: 277px;
      height: 36px;
      margin-left: 25px;
      /* text-align: center; */
      margin-top: 34px;
      border-radius: 8px;
      border: 1px solid #ffa000;
  }
    .text-one-log {
      font-size: 20px;
      text-align: left;
      padding-left: 60px;
      padding-top: 4px;
      /* padding-bottom: 10px; */
      font-weight: bold;
      font-style: initial;
      color:white;
  }
    /* end login2 */
    /* login */
  
    .inp {
      border: none;
      border-bottom: 1px solid #1890ff;
      padding: 5px 10px;
      outline: none;
      width: 295px;
      margin-top: 47px;
      margin-bottom: -4px;
      font-weight: bold;
   }
  
  [placeholder]:focus::-webkit-input-placeholder {
      transition: text-indent 0.4s 0.4s ease; 
      text-indent: -100%;
      opacity: 1;
      color: rgb(163, 161, 161);
      font-weight: bold;
   }
   .top-sp{
     margin-top:53px;
   }
   .left-box{
     width:361px;
   }
   .btn-dg {border-radius: 7px;
    width: 299px;
    height: 40px;
    background-color: #fc7d07a2;
  }
  .btn-one-dg{
    background-color: #fc7d07a2;
  }
  .left-sp{
    padding-left:28px!important;
  }
  .upper-space {
    width: 715px;
    height: 500px;
    margin-left: 300px;
    margin-left: 258px;
    top: 52px;
  
  }
  .text-one{
    
      font-size: 20px;
      text-align: left;
      padding-left: 18px;
      padding-top:10px;
      padding-bottom:10px;
      font-weight: bold;
      font-style: initial;
      
  }
  .text-two{
    padding-top:6px;
    padding-bottom:6px;
    font-size: 15px;
    text-align: left;
    padding-left: 18px;
    font-weight: normal;
    font-style: initial;
  }
  .card {
    z-index: 0;
    border: 1px solid #686666;
    position: relative
  }
    /* end login */
   
  
    
  .mobile-prefix {
      /* position: absolute; */
      position: absolute;
      border-radius: 2px;
      padding: 6px 10px 5px 8px;
      /* top: 1px; */
      padding-top:10px;
      left: 13px;
      color: #424242;
      border-right: 1px solid #d1d1d1;
      font-size: 1.2em;
      height: 41px;
  
  }
  button {
    background-color: #387ed1;
    color: #fff;
    border: 1px solid transparent!important;
    border-radius: 3px;
    height: 45px;
    width: 106px;
    font-size: 15px;
  
  }
  .form-box {
    
        width: 283px;
      height: 41px;
      padding-left: 48px;
      border: 1px solid #d1d1d1;
      border-radius: 5px;
      margin-bottom: 15px;
  
  
  }
  .field-message{
    color:rgb(19, 18, 18);
    margin-top: 18px;
    margin-bottom: 18px;
    /* font-size: 18px; */
  }
  .lbl-txt{
    left: 27px;
    position: absolute;
    /* margin-bottom: 4px; */
    margin-top: -8px;
    margin-bottom: -5px;
    margin-left: 18px;
    background-color: white;
    color:rgb(190, 185, 185);
  }
  /* test */
  * {
    margin: 0;
    padding: 0
  }
  
  html {
    height: 100%
  }
  
  p {
    color: grey
  }
  
  #heading {
    text-transform: uppercase;
    color: #673AB7;
    font-weight: normal
  }
  
  #msform {
    text-align: center;
    position: relative;
    margin-top: 20px
  }
  
  #msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
  }
  
  .form-card {
    text-align: left
  }
  
  #msform fieldset:not(:first-of-type) {
    display: none
  }
  
  #msform input,
  #msform textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px
  }
  
  #msform input:focus,
  #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #673AB7;
    outline-width: 0
  }
  
  #msform .action-button {
    width: 100px;
    background: #673AB7;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right
  }
  
  #msform .action-button:hover,
  #msform .action-button:focus {
    background-color: #311B92
  }
  
  #msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right
  }
  
  #msform .action-button-previous:hover,
  #msform .action-button-previous:focus {
    background-color: #000000
  }
  
  
  
  .fs-title {
    font-size: 25px;
    color: #673AB7;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
  }
  
  .purple-text {
    color: #673AB7;
    font-weight: normal
  }
  
  .steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
  }
  
  .fieldlabels {
    color: gray;
    text-align: left
  }
  
  #progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
  }
  
  #progressbar .active {
    color: #673AB7
  }
  
  #progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400
  }
  
  #progressbar #account:before {
    font-family: FontAwesome;
    content: "\f13e"
  }
  
  #progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007"
  }
  
  #progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f030"
  }
  
  #progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
  }
  
  #progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
  }
  
  #progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
  }
  
  #progressbar li.active:before,
  #progressbar li.active:after {
    background: #673AB7
  }
  
  .progress {
    height: 20px
  }
  
  .progress-bar {
    background-color: #673AB7
  }
  
  .fit-image {
    width: 100%;
    object-fit: cover
  }
  .btndate{
    margin-left: 214px;
    margin-top: -40px;
    color: black;
  }
  .alertPlace {
    margin-left: 900px;
    margin-top: -446px;
    width:342px;
}
.loading-mask{
  height: 150%;
  width: 100%;
  background: rgba(0,0,0,0.8);
  z-index: 9;
  position: fixed;
}

.loading-mask > .img{
  position: relative;
  top: 30%;
  left: 50%;
  /* -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%); */
}
.loading-mask >.load-position{
  margin-right: 1256px !important;
  margin-top: 55px !important;
}
.sk-chase {
  width: 40px;
  height: 40px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; 
  animation: sk-chase-dot 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes sk-chase {
  100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot {
  80%, 100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4); 
  } 100%, 0% {
    transform: scale(1.0); 
  } 
}
  /* end test */