<div class="container">
  <div class="container-fluid">
    <div>
      <div class="row">
        <div class="col-md-8 box-one img-pos">
          <app-navbar></app-navbar>

          <img src="../../assets/img/STOCK_MARKET-4.jpg" alt="Trulli" width="800" height="800">

        </div>
        <div class="col-md-4 box-two">
          <span class="header-txt">Signup now</span>
          <h5 class="field-message">Or track your existing application</h5>
          <form name="signup_one" #f="ngForm" (ngSubmit)="f.valid&&goTootpPage()">
            <div class="form-group">
              <input type="text" class="form-control" id="Companyname" name="Companyname" #Companyname="ngModel"
                pattern="^((?![\\^!@#$*~ <>?]).)((?![\\^!@#$*~<>?]).){0,73}((?![\\^!@#$*~ <>?]).)$"
                [(ngModel)]="companyName" aria-describedby="emailHelp" placeholder="Enter Company Name">
              <small class="text-danger" *ngIf="Companyname.dirty&&Companyname.invalid">Enter valid company
                name</small>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="fname" name="fname" #fname="ngModel"
                pattern="^[a-zA-Z ]{2,30}$" [(ngModel)]="fullname" aria-describedby="emailHelp"
                placeholder="Enter name">
              <small id="emailHelp" class="form-text text-muted">We'll never share your data with anyone else.</small>
              <small class="text-danger" *ngIf="fname.dirty&&fname.invalid">Enter valid
                name</small>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="CEmail" name="CEmail" #CEmail="ngModel"
              pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" 
                [(ngModel)]="CompanyEmail"  placeholder="Enter Email">
              <small class="text-danger" *ngIf="CEmail.dirty&&CEmail.invalid">Enter Valid Email</small>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">+91</span>
              </div>
              <input type="textbox" id="phone" pattern="[0-9]{10,10}" maxlength="10" class="form-control"
                [(ngModel)]="phone" placeholder="Your 10 digit mobile number" name="b" #b="ngModel"
                aria-describedby="basic-addon3">


              <!-- <input type="number" class="form-control" pattern="[0-9]{8,15}" id="phone" name="phone" [(ngModel)]="phone" #phone="ngModel"  placeholder="Your 10 digit mobile number"  aria-describedby="basic-addon3"> -->
              <!-- <small *ngIf="phone.dirty&&phone.invalid" class="form-text text-muted text-danger">Enter a valid phone number.</small> -->
            </div>

            <small *ngIf="b.dirty&&b.invalid" class="text-danger">Enter a valid phone number.</small>
            <small *ngIf="errormessage" class="text-danger">{{errormessage}}</small>
            <small id="emailHelp" class="form-text text-muted field-message">You will receive an OTP on your mobile
              number.</small>

            <button type="submit" class="btn btn-primary btn-one-dg" id="otppage">
              Continue
            </button>
          </form>
          <div class="row">
            <p class="field-message" style="margin-left: 10px;margin-top: 10px;font-weight:bold;">Already a member?<a
                style="margin-left: 10px;" href="http://52.8.99.117/">Login</a></p>
          </div>


        </div>
        <div>

        </div>
      </div>


    </div>
  </div>

</div>